<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" src="../static/js/code.jquery.com_jquery-3.7.1.min.js" th:src="@{/js/code.jquery.com_jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

    <title>Document Management System</title>
</head>
<body>
    <div class="main-container">
        <div class="flex-container-row-navbar header-container">
            <div class="flex-container-row">
                <div class="navbar-div">Document Management Service</div>
                <div class="navbar-div flex-container-row">
                    <div>User: <span sec:authentication="principal.username"></span> <span sec:authentication="principal.authorities"></span></div>
                </div>
            </div>
            <div class="flex-container-row">
                <div class="navbar-div">Notifications</div>
                <div>
                    <form action="#" th:action="@{/logout}" method="POST" class="navbar-header">
                        <input type="submit" value="Logout" class=""/>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div class="side-panel">
                <div>
                    <a class="" th:href="@{/document-management/documents/getDocuments}">
                        Documents
                    </a>
                </div>
                <div>
                    <a class="" th:href="@{/document-management/users/getUsers}">
                        Users
                    </a>
                </div>
                <div>
                    <a class="" th:href="@{/document-management/users/downloadListAsExcel}">
                        Export as list
                    </a>
                </div>
            </div>
            <div class="body-container">
                <div class="navbar flex-container">
                    <form th:action="@{/document-management/users/getUsers}" th:object="${search}" class="navbar-form" role="search">
                        <input name="keyword" th:value="${keyword}" class="" type="search" placeholder="Search" aria-label="Search" id="searchText">

                        <select th:field="*{column}" name="column" class="search-list" aria-label="">
                            <option th:each="tempHeader : ${headers}" th:value="${tempHeader}" th:text="${tempHeader}"></option>
                        </select>

                        <button class="" type="submit">Search</button>
                    </form>
                </div>
                <div class="main-content">
                    <div class="table-container">
                        <table class="">
                            <thead>
                            <tr class="table-header">
                                <th>Id</th>
                                <th>User ID</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Department</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody class="table-body">
                            <tr th:each="user : ${users}" class="" style="height: 20px">
                                <td th:text="${user.id}" />
                                <td th:text="${user.userId}" />
                                <td th:text="${user.firstName}"/>
                                <td th:text="${user.lastName}"/>
                                <td th:text="${user.email}"/>
                                <td th:text="${user.getDepartment()}"/>
                                <td th:text="${user.role}"/>
                                <td th:text="${user.status}"/>
                                <td>
                                    <!--To change to icons-->
                                    <a th:href="@{/document-management/users/view/{id}(id=${user.id})}" class="action-tool-edit">View</a>

                                    <a th:href="@{/document-management/users/deleteUser(id=${user.id})}"
                                       class="action-btn-delete"
                                       onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
                                        Delete
                                    </a>
<!--                                    <button type="button" class="" data-bs-toggle="modal" data-bs-target="#editModalUser">-->
<!--                                        Edit user TEST-->
<!--                                    </button>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="centered-div">
                        <button type="button" class="add-user action-button" data-bs-toggle="modal" data-bs-target="#addModalUser">
                            Add user
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- Modal form for add user-->
<div class="modal fade" id="addModalUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Add new user</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/document-management/users/addNewUser}" th:object = "${user}" method="POST">
                    <input type="text" class="form-control mb-4 w-75"  placeholder="User ID" th:field = "*{userId}">
                    <input type="text" class="form-control mb-4 w-75"  placeholder="First name" th:field = "*{firstName}">
                    <input type="text" class="form-control mb-4 w-75"  placeholder="Last name" th:field = "*{lastName}">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Email" th:field = "*{email}">
                    <input type="text" class="form-control mb-4 w-75"  placeholder="Department ID" th:field = "*{department}">
                    <input type="text" class="form-control mb-4 w-75"  placeholder="Role" th:field = "*{role}">
                    <input type="text" class="form-control mb-4 w-75"  placeholder="Password" th:field = "*{password}">
                    <button type="submit" class="">Save</button>
                </form>s
            </div>
        </div>
    </div>
</div>

<!-- Modal form for edit tool-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Edit USER</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body form-group">
                <form action="#" th:action="@{/document-management/users/updateUser}" method="POST">
                    <label for="idEdit">Id</label>
                    <input type="text" class="form-control mb-4 w-75" placeholder="ID" name="id" id="idEdit">
                    <label for="userIdEdit">User Id</label>
                    <input type="text" class="form-control mb-4 w-75" placeholder="USER ID" name="userId" id="userIdEdit">
                    <label for="firstNameEdit">First name</label>
                    <input type="text" class="form-control mb-4 w-75" placeholder="USER ID" name="firstName" id="firstNameEdit">
                    <label for="lastNameEdit">Last name</label>
                    <input type="text" class="form-control mb-4 w-75" placeholder="USER ID" name="lastName" id="lastNameEdit">
                    <label for="emailEdit">Email</label>
                    <input type="text" class="form-control mb-4 w-75" placeholder="USER ID" name="email" id="emailEdit">
                    <label for="departmentIdEdit">Department Id</label>
                    <input type="text" class="form-control mb-4 w-75" placeholder="USER ID" name="departmentId" id="departmentIdEdit">
                    <label for="roleEdit">Role</label>
                    <input type="text" class="form-control mb-4 w-75" placeholder="USER ID" name="role" id="roleEdit">
                    <label for="passwordEdit">Password</label>
                    <input type="text" class="form-control mb-4 w-75" placeholder="USER ID" name="password" id="passwordEdit">
                    <button type="submit" class="">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

</html>