<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" src="../static/js/code.jquery.com_jquery-3.7.1.min.js"
            th:src="@{/js/code.jquery.com_jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>

    <title>Document Management System</title>
</head>
<body>
<div class="main-container">
    <div class="flex-container header-container">
        <div>Document Management Service</div>
        <div>User Name: John.S (MANAGER)</div>
        <div class="empty-div"></div>
        <div>Notifications</div>
        <div>Logout</div>
    </div>
    <div class="flex-container">
        <div class="side-panel">
            <div>
                <a class="" th:href="@{/document-management/documents/getDocuments}">Documents</a>
            </div>
            <div>
                <a class="" th:href="@{/document-management/users/getUsers}">Users</a>
            </div>
            <div>
                <a class="">Export</a>
            </div>
        </div>
        <div class="body-container">
            <div class="navbar flex-container-column">
                <div class="section-header centered-div">1. Document info</div>
                <div class="section-body">
                    <form action="#" th:action="@{/document-management/documents/updateDocument}" th:object="${document}" method="POST" class="edit-form">
                        <div class="">
                            <label for="id" class="edit-label">Document Id</label>
                            <input type="text" id="id" name="id" th:field="*{id}" class="" readonly/>
                        </div>
                        <div class="">
                            <label for="documentCode" class="edit-label">Document Code</label>
                            <input type="text" id="documentCode" name="documentCode" th:field="*{documentCode}" class=""/>
                        </div>
                        <div class="">
                            <label for="documentCode" class="edit-label">Document type Id</label>
                            <input type="text" id="documentTypeId" name="documentTypeId" th:field="*{documentTypeId}" class=""/>
                        </div>
                        <div class="">
                            <label for="name" class="edit-label">Title</label>
                            <input type="text" id="name" name="name" th:field="*{name}" class=""/>
                        </div>
                        <div class="">
                            <label for="revisionNumber" class="edit-label">Revision Number</label>
                            <input type="number" id="revisionNumber" name="revisionNumber" th:field="*{revisionNumber}" class=""/>
                        </div>
                        <div class="">
                            <label for="statusId" class="edit-label">Status</label>
                            <input type="text" id="statusId" name="statusId" th:field="*{statusId}" class=""/>
                        </div>
                        <div class="">
                            <label for="creationDate" class="edit-label">Creation Date</label>
                            <input type="date" id="creationDate" name="creationDate" th:field="*{creationDate}" class=""/>
                        </div>
                        <div class="">
                            <label for="modificationDate" class="edit-label">Modification Date</label>
                            <input type="date" id="modificationDate" name="modificationDate" th:field="*{modificationDate}" class=""/>
                        </div>
                        <div class="">
                            <label for="authorId" class="edit-label">Author</label>
                            <input type="text" id="authorId" name="authorId" th:field="*{authorId}" class=""/>
                        </div>
                        <div class="">
                            <label for="link" class="edit-label">Link</label>
                            <input type="text" id="link" name="link" th:field="*{link}" class=""/>
                        </div>
                        <button type="submit" class="action-button">Save</button>
                    </form>
                    </div>
                <div class="section-header centered-div">2. Document revisions</div>
                <div class="section-body">
                        <div class="table-container">
                            <table class="">
                                <thead>
                                    <tr class="table-header">
                                        <th>Id</th>
                                        <th>User id</th>
                                        <th>Document id</th>
                                        <th>Date</th>
                                        <th>Revision number</th>
                                        <th>Status id</th>
                                        <th>Description</th>
                                        <th>Link</th>
                                        <th>Validating by user</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                <tr th:each="revision : ${revisions}" class="" style="height: 20px">
                                    <td th:text="${revision.id}" />
                                    <td th:text="${revision.userId}" />
                                    <td th:text="${revision.documentId}" />
                                    <td th:text="${revision.date}" />
                                    <td th:text="${revision.revisionNumber}" />
                                    <td th:text="${revision.statusId}" />
                                    <td th:text="${revision.description}" />
                                    <td th:text="${revision.link}" />
                                    <td th:text="${revision.validatingUserId}" />

                                    <td>
                                        <!--To change to icons-->
                                        <a th:href="@{/document-management/documents/downloadFile(link=${revision.link})}" class="action-tool-edit">
                                            Download
                                        </a>
                                        <a th:href="@{/document-management/documents/viewFile(link=${revision.link})}" class="action-tool-edit">
                                            Open
                                        </a>
                                        <a class="action-btn-delete"
                                           onclick="if (!(confirm('Are you sure you want to delete this document?'))) return false">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                <div class="centered-div">
                    <a class="action-button" th:href="@{/document-management/documents/addNewRevisionPage(documentId=${document.id})}">
                                Add new revision</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


</html>